*                             text=auto eol=lf
*.eot                         -text
*.gif                         -text
*.gz                          -text
*.ico                         -text
*.jpg                         -text
*.mp3                         -text
*.ogg                         -text
*.png                         -text
*.ttf                         -text
*.webm                        -text
*.woff                        -text
*.woff2                       -text
spec/fixtures/requests/**     -text !eol
app/javascript/styles/material-dark       symlink=dir
app/javascript/styles/material-light      symlink=dir
app/javascript/styles/material-dark.scss  symlink=file
app/javascript/styles/material-light.scss symlink=file
